<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Content</title>
    <div th:insert="cdn/generalScripts.html :: scripts"></div>
    <div th:insert= "cdn/generalStyles.html :: styles"></div>
</head>
<body>
    <header th:replace="component/admin/adminHeader"/>
    <header th:replace="component/welcomeMsg"/>

    <div class="row justify-content-center align-items-center py-2">
        <div class="col-sm-10">
            <div class="row justify-content-center align-items-center">
                <div class="col-sm-10 py-4">
                    <table class="table table-hover text-center">
                        <thead class="thead-dark">
                            <tr class= "border border-light">
                                <th scope="row">#</th>
                                <th scope="col">Description</th>
                                <th scope="col">Type</th>
                                <th scope="col">Id Post</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
        
                        <tbody th:each="content : ${contents}">
                            <tr>
                                <td th:text = "${content.id_content}" scope="row"></td>
                                <td th:text = "${content.description_content}"></td>
                                <td th:text = "${content.type_content}"></td>
                                <td th:text = "${content.id_post_content}"></td>
                                <td class="d-flex justify-content-between align-items-center">
                                    <button type="button" class="btn btn-primary">
                                        <a class="text-white" th:href="'/admin/content/edit/' + ${content.id_content}">Edit</a>
                                    </button>
                                    <form th:action="@{/admin/content}" th:method = "delete">
                                        <input type="hidden" th:value="${content.id_content}">
                                        <button type="submit" class="btn btn-danger">
                                            Delete
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="col py-2 d-flex justify-content-center">
                        <button type="button" class="btn btn-primary">
                            <a class="text-white" th:href="@{/admin/content/new}">Add Content <i class="fas fa-plus-circle"></i></a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <footer th:replace="component/admin/adminFooter"/>

    <!--TODO LIST
    - Make general script for MODALS
    - Insert general modal and pass ig to get category as celefy.-->
</body>
</html>