<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Metada</title>
    <div th:insert="cdn/generalScripts.html :: scripts"></div>
    <div th:insert= "cdn/generalStyles.html :: styles"></div>
</head>
<body>
    <header th:replace="component/admin/adminHeader"/>
    <header th:replace="component/welcomeMsg"/>

    <div class="row justify-content-center align-items-center py-2">
        <div class="col-sm-10">
            <div class="row justify-content-center align-items-center">
                <div class="col-sm-10 py-4">
                    <table class="table table-hover text-center">
                        <thead class="thead-dark">
                            <tr class= "border border-light">
                                <th scope="row">#</th>
                                <th scope="col">Key</th>
                                <th scope="col">Value</th>
                                <th scope="col">Type</th>
                                <th scope="col">Id User</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
        
                        <tbody th:each="user : ${metadata_users}">
                            <tr>
                                <td th:text = "${user.id_metadata}" scope="row"></td>
                                <td th:text = "${user.key_metadata}"></td>
                                <td th:text = "${user.value_metadata}"></td>
                                <td th:text = "${user.type_metadata}"></td>
                                <td th:text = "${user.id_user_metadata}"></td>
                                <td class="d-flex justify-content-between align-items-center">
                                    <button type="button" class="btn btn-primary">
                                        <a class="text-white" th:href="'/admin/user_metadata/edit/' + ${user.id_metadata}">Edit</a>
                                    </button>
                                    <form th:action="@{/admin/user_metadata}" th:method = "delete">
                                        <input type="hidden" th:value="${user.id_metadata}">
                                        <button type="submit" class="btn btn-danger">
                                            Delete
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="col py-2 d-flex justify-content-center">
                        <button type="button" class="btn btn-primary">
                            <a class="text-white" th:href="@{/admin/user_metadata/new}">Add User Metadata <i class="fas fa-plus-circle"></i></a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <footer th:replace="component/admin/adminFooter"/>

    <!--TODO LIST
    - Make general script for MODALS
    - Insert general modal and pass ig to get category as celefy.-->
</body>
</html>\