<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo Contenido</title>
    <div th:replace="cdn/generalScripts.html :: scripts"></div>
    <div th:insert= "cdn/generalStyles.html :: styles"></div>
</head>
<body>
    <header th:replace="component/admin/adminHeader"/>
    <div class="container justify-content-center align-items-center py-4">
        <div class="row">
            <div class="col-12">
                <form th:action = "@{/admin/content}" th:object = "${content}" th:method = "post">
                    <input type="hidden" th:field = "*{id_content}">

                    <div class="form-group">
                        <label for="description_content">Descripcion</label>
                        <input class="form-control" type="text" th:value = "*{description_content}" th:field = "*{description_content}">
                    </div>

                    <div class="form-group">
                        <label for="type_content">Tipo de post</label>
                        <input class="form-control" type="text" th:value = "*{type_content}" th:field = "*{type_content}">
                    </div>

                    <div class="form-group">
                        <label for="id_post_content">Id de post</label>
                        <input class="form-control" type="int" th:value = "*{id_post_content}" th:field = "*{id_post_content}">
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <button type="cancel" class="btn btn-primary">Borrar</button>
                    </div>
                </form>
            </div>    
        </div>
     </div>
    

    <footer th:replace="component/admin/adminFooter"/>
</body>
</html>